{% extends 'registration/base.html' %}

{% block content %}
  <h2>{{ ha_detail.name }}</h2>
    <ul>
      <li>{{ leaseagreement_detail.start }}</li>
      <li>{{ leaseagreement_detail.end }}</li>
      <li>{{ leaseagreement_detail.value }}</li>
      <li>{{ leaseagreement_detail.comments }}</li>
      <li>{{ leaseagreement_detail.type }}</li>
      <li>{{ leaseagreement_detail.property }}</li>
      <li>{{ leaseagreement_detail.landlords }}</li>
      <li>{{ leaseagreement_detail.tenants }}</li>
    </ul>

    <a class="btn btn-default" href="{% url 'leaseagreement_edit' pk=leaseagreement_detail.id %}">EDYTUJ</a>
    <a class="btn btn-default" href="{% url 'leaseagreement_all' %}">LISTA</a>
{% endblock %}
