{% extends 'registration/base.html' %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Umowy najmu</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <a href="{% url 'leaseagreement_new' %}" type="button" class="btn btn-sm btn-outline-primary">Nowa</a>
      <!-- <a type="button" class="btn btn-sm btn-disable">Usuń</a> -->
    </div>
    <!-- <button type="button" class="btn btn-sm btn-secondary dropdown-toggle">
      <span data-feather="calendar"></span>
      This week
    </button> -->
  </div>
</div>

<div class="">
  <p>Lista umów:</p>
  <ul>
    {% for la in la_all %}
      <li>
        <a href="/app/forms/leaseagreement/item/{{ la.id }}">{{ la.id }}</a>
      </li>
    {% empty %}
      <li>Brak wpisów</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
