{% extends 'registration/base.html' %}

{% block content %}
  <h2>{{ ha_detail.name }} - Edycja</h2>
  <form method="POST" class="post-form">
      {% csrf_token %}
      <input type="text" name="address" placeholder="Adres" value="{{ ha_detail.address }}">
      <input type="text" name="address" placeholder="Adres" value="{{ ha_detail.postalcode }}">
      <input type="text" name="address" placeholder="Adres" value="{{ ha_detail.city }}">
    </form>

    <button type="submit" class="save btn btn-default">Save</button>
{% endblock %}
