<!-- {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %} -->

{% for message in messages %}
<!-- <div class="container-fluid p-0"> -->
  <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
      <span aria-hidden="true"></span>
    </button>
    {{ message }}
  </div>
<!-- </div> -->
{% endfor %}
