{% extends 'registration/base.html' %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Najemcy</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <a href="{% url 'tenant_new' %}" type="button" class="btn btn-sm btn-outline-primary">Nowy</a>
      <a type="button" class="btn btn-sm btn-outline-disable">Usuń</a>
    </div>
    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <span data-feather="calendar"></span>
      This week
    </button>
  </div>
</div>

<div class="">
  <p>Lista najemców:</p>
  <ul>
    {% for t in tenant_all %}
      <li>
        <a href="/app/forms/tenant/item/{{ t.id }}">{{ t.name }} {{ t.surname }}</a>
      </li>
    {% empty %}
      <li>Brak wpisów</li>
    {% endfor %}
  </ul>

  <a class="btn btn-default" href="{% url 'index' %}">Home</a>
</div>
{% endblock %}
