{% extends 'registration/base.html' %}

{% block content %}
  <h2>{{ tenant_detail.name }} {{ tenant_detail.surname }}</h2>
    <ul>
      <li>{{ tenant_detail.pk}}</li>
      <li>{{ tenant_detail.address }}</li>
      <li>{{ tenant_detail.postalcode }}</li>
      <li>{{ tenant_detail.city }}</li>
      <li>{{ tenant_detail.phone }}</li>
      <li>{{ tenant_detail.email }}</li>
      <li>{{ tenant_detail.comments }}</li>
    </ul>

    <a class="btn btn-default" href="{% url 'tenant_edit' pk=tenant_detail.pk %}">EDYTUJ</a>
    <a class="btn btn-default" href="{% url 'tenant_all' %}">LISTA</a>
{% endblock %}
