{% extends 'registration/base.html' %}

{% block content %}
<div class="col-8">
  <button type="button" name="button"><a href="{% url 'housingassociation_new' %}">Nowa</a></button>
  <p>Lista spółdzielni:</p>
  <ul>
    {% for ha in ha_all %}
      <li>{{ forloop.counter }}. <a href="/app/forms/housingassociation/item/{{ ha.id }}">{{ ha.name }}</a></li>
    {% empty %}
      <li>Brak wpisów</li>
    {% endfor %}
  </ul>
  <p>Liczba spółdzielni: {{ ha_count }}</p>
  <a class="btn btn-default" href="{% url 'ha_list' %}">Lista</a>
  <a class="btn btn-default" href="{% url 'index' %}">Home</a>
</div>
{% endblock %}
