body {
    background-color: #eee
}

.accordion-button:hover {
    background-color: #525252 !important
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-flush .bi {
    transition: all 1s
    border: 0;
}

.accordion-flush:hover .bi {
    transform: rotate(360deg)
}

a.accordion-item:hover {
    text-decoration: underline !important
}
