body {
    background-color: #eee
}

.accordion-button:hover {
    background-color: #525252 !important
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:active {
  background-color: #0d6efd !important
  border: 0;
  border-radius: .25rem;
}

.accordion-flush .bi {
    transition: all 1s
    border: 0;
}

.accordion-flush:hover .bi {
    transform: rotate(360deg)
}

a.accordion-item:hover {
    text-decoration: underline !important
}
