{% extends 'registration/base.html' %}

{% block content %}
  <h2>{{ landlord_detail.name }} {{ landlord_detail.surname }}</h2>
    <ul>
      <li>{{ landlord_detail.pk}}</li>
      <li>{{ landlord_detail.name }}</li>
      <li>{{ landlord_detail.surname }}</li>
      <li>{{ landlord_detail.phone }}</li>
      <li>{{ landlord_detail.email }}</li>
    </ul>

    <a class="btn btn-default" href="{% url 'landlord_edit' pk=landlord_detail.pk %}">EDYTUJ</a>
    <a class="btn btn-default" href="{% url 'landlord_all' %}">LISTA</a>
{% endblock %}
