{% extends 'registration/base.html' %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Właściciele</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <a href="{% url 'landlord_edit' pk=landlord_detail.pk %}" type="button" class="btn btn-sm btn-outline-primary">Edytuj</a>
      <a href="{% url 'landlord_delete' pk=landlord_detail.id %}" type="button"
      class="btn btn-sm btn-danger" onclick="return confirm('Czy usunąć?');">Usuń</a>
      <a href="{% url 'landlord_all' %}" type="button" class="btn btn-sm btn-outline-secondary">Anuluj</a>
    </div>
    <!-- <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <span data-feather="calendar"></span>
      This week
    </button> -->
  </div>
</div>

<div class="">
  <h2>Szczegóły</h2>
  <table class="table table-striped">
    <tbody>
      <tr>
        <td>Imię:</td>
        <td>{{ landlord_detail.name }}</td>
      </tr>
      <tr>
        <td>Nazwisko:</td>
        <td>{{ landlord_detail.surname }}</td>
      </tr>
      <tr>
        <td>Telefon:</td>
        <td>{{ landlord_detail.phone }}</td>
      </tr>
      <tr>
        <td>E-mail:</td>
        <td>{{ landlord_detail.email }}</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
