{% extends 'registration/base.html' %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Właściciele</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <a href="{% url 'landlord_new' %}" type="button" class="btn btn-sm btn-outline-primary">Nowy</a>
      <!-- <a type="button" class="btn btn-sm btn-outline-disable">Usuń</a> -->
    </div>
    <!-- <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <span data-feather="calendar"></span>
      This week
    </button> -->
  </div>
</div>

<div class="">
  <p>Lista właścicieli:</p>
  <ul>
    {% for l in landlord_all %}
      <li>
        <a href="/app/forms/landlord/item/{{ l.id }}">{{ l.name }} {{ l.surname }}</a>
      </li>
    {% empty %}
      <li>Brak wpisów</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
