{% extends 'registration/base.html' %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Właściciele</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <span data-feather="calendar"></span>
      This week
    </button>
  </div>
</div>

<div class="">
  <button type="button" name="button"><a href="{% url 'landlord_new' %}">Nowy</a></button>
  <p>Lista właścicieli:</p>
  <ul>
    {% for l in landlord_all %}
      <li>
        <a href="/app/forms/landlord/item/{{ l.id }}">{{ l.name }} {{ l.surname }}</a>
      </li>
    {% endfor %}
  </ul>

  <a class="btn btn-default" href="{% url 'index' %}">Home</a>
</div>
{% endblock %}
