{% extends 'registration/base.html' %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Rachunki</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">

      <a href="{% url 'bill_all' %}" type="button" class="btn btn-sm btn-outline-secondary">Anuluj</a>
    </div>
    <!-- <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <span data-feather="calendar"></span>
      This week
    </button> -->
  </div>
</div>

<div class="">
  <h2>Nowy rachunek</h2>
  {% csrf_token %}
  <table class="table table-striped">
    <tbody>
      <tr>
        <td>Nazwa:</td>
        <td>{{ bill_new.name }}<span class="required-field">*</span></td>
      </tr>
      <tr>
        <td>Numer umowy:</td>
        <td>{{ bill_new.agreement_number }}<span class="required-field">*</span></td>
      </tr>
      <tr>
        <td>Dostawca:</td>
        <td>{{ bill_new.bill_vendor }}<span class="required-field">*</span></td>
      </tr>
      <tr>
        <td>Nieruchomość:</td>
        <td>{{ bill_new.property }}<span class="required-field">*</span></td>
      </tr>
      <tr>
        <td>Data początkowa:</td>
        <td>{{ bill_new.start }}<span class="required-field">*</span></td>
      </tr>
      <tr>
        <td>Czas trwania:</td>
        <td>{{ bill_new.duration }}<span class="required-field">*</span></td>
      </tr>
      <tr>
        <td>Data końcowa:</td>
        <td>{{ bill_new.end }}<span class="required-field">*</span></td>
      </tr>
    </tbody>
  </table>
  <p style="font-style: italic;">Pola oznaczone <span class="required-field">*</span> są wymagane.</p>
    <button type="submit" class="btn btn-sm btn-outline-success">Zapisz</button>
  </form>
</div>
{% endblock %}
