{% extends 'registration/base.html' %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Rachunki</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <span data-feather="calendar"></span>
      This week
    </button>
  </div>
</div>

<div class="">
  <h2>Szczegóły</h2>
    <ul>
      <li>{{ bill_detail.agreement_number }}</li>
      <li>{{ bill_detail.start }}</li>
      <li>{{ bill_detail.duration }}</li>
      <li>{{ bill_detail.end }}</li>
      <li>{{ bill_detail.bill_vendor }}</li>
      <li>{{ bill_detail.property }}</li>
    </ul>

  <a class="btn btn-default" href="{% url 'bill_edit' pk=bill_detail.id %}">EDYTUJ</a>
  <a class="btn btn-default" href="{% url 'bill_all' %}">LISTA</a>
</div>
{% endblock %}
