{% extends 'registration/base.html' %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Nieruchomości</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <a href="{% url 'property_new' %}" type="button" class="btn btn-sm btn-outline-primary">Nowa</a>
      <a type="button" class="btn btn-sm btn-outline-disable">Usuń</a>
    </div>
    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <span data-feather="calendar"></span>
      This week
    </button>
  </div>
</div>

<div class="">
  <p>Lista nieruchomości:</p>
  <ul>
    {% for prop in property_all %}
      <li>
        <a href="/app/forms/property/item/{{ prop.id }}">{{ prop.name }}</a>
      </li>
    {% empty %}
      <li>Brak wpisów</li>
    {% endfor %}
  </ul>
  <p>Ilość nieruchomości:</p>
  <p>{{ property_count }}</p>
  <a class="btn btn-default" href="{% url 'property_all' %}">Lista</a>
  <a class="btn btn-default" href="{% url 'index' %}">Home</a>
</div>
{% endblock %}
