{% extends 'registration/base.html' %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Nieruchomości</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <!-- <a type="button" class="btn btn-sm btn-outline-light">Usuń</a> -->
      <a href="{% url 'property_all' %}" type="button" class="btn btn-sm btn-outline-secondary">Anuluj</a>
    </div>
    <!-- <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <span data-feather="calendar"></span>
      This week
    </button> -->
  </div>
</div>

<div class="">
  <h2>Edycja</h2>
  <form method="POST" class="post-form">
      {% csrf_token %}
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>Nazwa nieruchomości:</td>
            <td>{{ property_edit.name }}</td>
          </tr>
          <tr>
            <td>Adres:</td>
            <td>{{ property_edit.address }}</td>
          </tr>
          <tr>
            <!--TO DO-->
            <td>Kod pocztowy:</td>
            <td>{{ property_edit.postalcode }}</td>
          </tr>
          <tr>
            <td>Miejscowość:</td>
            <td>{{ property_edit.city }}</td>
          </tr>
          <tr>
            <td>Spółdzielnia:</td>
            <td>{{ property_edit.house_association }}</td>
          </tr>
          <tr>
            <td>Numer księgi wieczystej:</td>
            <td>{{ property_edit.kw_number }}</td>
          </tr>
        </tbody>
      </table>

      <button type="submit" class="btn btn-sm btn-outline-success">Zapisz</button>
  </form>
</div>
{% endblock %}
